

.localContainer{
  background-image: url(./signIn-assets/handsShaking.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  max-height: 100vh;
  padding-top: 2.5rem;
  align-items: center;
  display: flex;
  background-position: 0 7%;
  flex-direction: column;
}

.form__authorization{

  background: rgba(49, 49, 49, 0.6);
  backdrop-filter: blur(35px);
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 2.5rem 2.5rem 0 0 ;
  margin-top: auto;
  input{
    width: 100%;
    font-size: .95rem;
    color: var(--primaryWhite);
    margin-bottom: 1em;
    padding: 1em;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.4s;
    border-radius: 0.9em;

    &::placeholder{
      color: var(--primaryWhite);

    }
    &:focus{
      background: rgba(255, 255, 255, 0.25);
      border: 1px solid rgba(241, 241, 241, 0.2);
    }

  }
}
.formGreetingHeadline{
  font-size: 1rem;
  color: var(--primaryWhite);
  margin-bottom: 0.3em;
  font-weight: 400;
  opacity: .75;




}
.formGreetingHeadline__big{
  @extend .formGreetingHeadline;
  font-size: 1.3rem;
  font-weight: 600;
  opacity: 1;


}
.formWelcoming__img{
  margin-bottom: 1rem;
  position: relative;
  left: 50%;
  max-width: 400px;
  width: 85%;
  transform: translate(-50%,0);
}
.btn__submit{
  width: 100%;
  background: #4762a4;;
  box-shadow: 0 5px 40px rgba(87, 211, 236, 0.35);
  border-radius: .8em;
  padding: 0.95em 0.5em;
  color: var(--primaryWhite);
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.3rem;

}
@media screen and (min-width: 576px){
  .localContainer{
    background: none;
  }
  .form__authorization{
    max-width: 500px;
    margin-top: 2rem;
    border-radius: 2.5rem;
    padding: 2rem 2rem;
  }
  .logo{
    width: 120px;
    height: 120px;
  }
  .formGreetingHeadline{
    font-size: 1.4rem;
  }
  .formWelcoming__img{

    width: 100%;

  }
  .formGreetingHeadline__big{

    font-size: 1.8rem;



  }
  .formWelcoming__img{
    margin-bottom: 2rem;

  }
  .btn__submit {

    padding: 1.1em 0.5em;

  }
}
@media screen  and (max-height: 800px) {
  .localContainer{
    background: none;
  }
}

@media screen  and (min-width: 600px) and (max-height: 415px) {
  .form__authorization{
    max-width: 100%;
    border-radius: 2.5rem 2.5rem 0 0 ;
    width: 100%;
  }
}
