.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.3rem;
  z-index: 999;
  position: relative;

}
.navList{
  display: flex;
  align-items: center;

}
.navElement{
  margin-right: 1em;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  &:last-of-type{
    margin-right: 0;
  }
}
.navLink{
  color: var(--primaryWhite);
  transition: 0.4s;
  position: relative;
  &:after{
    position: absolute;
    display: block;
    content: '';
    width: 0;
    bottom: -15px;
    border-radius: 5px;
    transform: scale(0.8);
    opacity: 0;
    transition: 0.4s;
    height: 2px;
    background-color: white;
  }
  &:hover{
    color: #e7c777;
    &:after{
      width: 100%;
      opacity: 1;
    }
  }
}









.leftSideList__logo{
  margin-right: 1rem;
}
.leftSideList{
  display: flex;
  align-items: center;

}

.currentRegion{
  display: flex;
  align-items: center;
  svg{
    margin-left: 1rem;
    transition: 0.2s;
  }
}
.regionsNavbar_active{
  @extend .regionsNavbar;
  svg{
    transform: rotate(-180deg);

  }
}
.regionsNavbar{
  position: relative;
  background-color: rgba(19, 20, 21, 0.95);
  color: white;
  font-style: italic;
  border-radius: 0.3rem 0.3rem 0 0 ;
  display: inline-block;
  padding: 1.1rem 1.2rem 0 1.2rem;
  cursor: pointer;
  .regionsNavbar__element{
    margin-bottom: 1.2em;
    transition: 0.4s;
    &:hover{
      color: #aa9baf;
    }
  }

}

.listFetchedResults{
  position: absolute;

  background-color: rgba(19, 20, 21, 0.95);
  padding: 0 1.2rem 0 1.2rem;
  width: 100%;
  left: 0;
}
@media screen and (max-width: 992px) {
  .navElement{
    font-size: 1rem;
  }
  .rightSideList li svg{
    width: 30px;
    height: 30px;
  }
  .leftSideList__logo{
    width: 75px;
    height: 75px;
  }
  .regionsNavbar__element{
    font-size: 0.9rem;
  }
  .regionsNavbar{
    padding: 1rem 1.1rem 0 1.1rem;
  }
  .listFetchedResults{
    padding: 0 1.1rem 0 1.1rem;
  }
  .leftSideList__logo{
    margin-right: 0.5rem;
  }


}

.hamburgerMenuCont{
  display: none;
}
.hamburger{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(#151414,0.95);
  left: -100%;
  top: 0;
  height: 100vh;
  width: 100%;
  animation: showing .5s     forwards ;
  @keyframes showing {
    from{
      left: -100%;
    }

    to{
      left: 0;

    }
  }


}
.hamburgerElement{
  color: var(--primaryWhite);
  margin-bottom: 1em;
  font-size: 2rem;
  font-weight: 400;
  &:last-of-type{
    margin-bottom: 0;
  }
}

.hamburgerToggler{
  z-index: 2;
  position: relative;
  cursor: pointer;
  display: block;
  padding: 15px;
  margin: -15px;
  &Active{
    .hamburgerTogglerElement:first-of-type{
      margin-bottom: -5.5px;
      transform: rotate(45deg);
    }
    .hamburgerTogglerElement:nth-of-type(2){
      opacity: 0;
    }
    .hamburgerTogglerElement:last-of-type{
      margin-top: -5.5px;

      transform: rotate(-45deg);
    }
  }

}

.hamburgerTogglerElement{
  display: block;
  content: '';
  transition: 0.3s;
  width: 25px;
  border-radius: 3px;
  height: 3px;
  background-color: #dbdada;
  margin-bottom: 5px;
  &:last-of-type{
    margin-bottom: 0;
  }
}
@media screen and (max-width: 992px) {
  .hamburgerMenuCont{
    display: block;
  }
  .rightSideList{
    display: none;
  }
  .navList{
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .leftSideList__logo{
    width: 65px;
    height: 65px;
    margin-right: 0;
  }

  .regionsNavbar__element{
    font-size: 0.8rem;
  }
  .regionsNavbar{
    padding: 0.9rem 1rem 0 1rem;
    width: 100%;
  }
  .listFetchedResults{
    padding: 0 1rem 0 1rem;
  }
  .leftSideList .navElement{
    flex-shrink: 0;
    margin-right: 0;
  }
  .leftSideList{
    width: 100%;
  }
  .navElementRegionsContainer{
    width: 100%;
    padding: 0 1rem;

  }

  .currentRegion{
    justify-content: center;
  }
}